@font-face {
  font-family: NotoSansThai Regular ;
  src: url("../src/assets/fonts/NotoSansThai-Regular.ttf");
}
@theme{
  --font-noto : NotoSansThai Regular , "sans-serif" ; 
}
@import "tailwindcss"
